@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #5372f0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container {
  background: white;
  width: 690px;
  border-radius: 10px;
  padding: 30px;
}

.wrapper {
  border: 1px solid #bbb;
  border-radius: 7px;
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #bbb;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  resize: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #bbb;
}

.controls {
  list-style: none;
  padding: 19px 22px;
}

.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #bbb;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #bbb;
}

.controls .icons {
  width: 38%;
}

.controls .icons i {
  color: #9f9f9f;
  font-size: 13px;
  cursor: pointer;
  width: 45px;
  justify-content: center;
}

.controls .row select {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}

.controls .exchange {
  color: #9f9f9f;
  font-size: 16px;
  cursor: pointer;
}

.container button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #5372f0;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
